$btn-citrica-ui: (
  sm: (
    padding: 10px 20px,
  ),
  md: (
    padding: 10px 20px,
  ),
  lg: (
    padding: 20px 50px,
  )
);
.btn-citrica-ui{
  border-radius: var(--form-radius-btn);
  min-width: 140px;
  @include a-set($btn-citrica-ui);
}

.btn-primary{
  background-color: var(--color-primary-btn);
  color: var(--color-primary-btn-text);
  border: none;
  &:hover{
    background-color: var(--color-primary-btn-hover);
    .text-component {
      color: var(--color-primary-btn-text-hover) !important;
    }
  }
}
.btn-secondary{
  background-color: var(--color-secondary-btn);
  color: var(--color-secondary-btn-text);
  border: none;
  &:hover{
    background-color: var(--color-secondary-btn-hover);
    .text-component {
      color: var(--color-secondary-btn-text-hover) !important;
    }
  }
}
.btn-flat{
  background-color: transparent;
  color: var(--color-flat-btn-text);
  border: none;
  &:hover{
    background-color: var(--color-flat-btn-hover);
    .text-component {
      color: var(--color-flat-btn-text-hover) !important;
    }
  }
}

// ADMIN BUTTONS
$btn-citrica-ui-admin: (
  sm: (
    padding: 8px 14px,
  ),
  md: (
    padding: 8px 14px,
  ),
  lg: (
    padding: 10px 30px,
  )
);
.btn-citrica-ui-admin{
  border-radius: var(--form-admin-radius-btn);
  min-width: 140px;
  @include a-set($btn-citrica-ui-admin);
}

.btn-primary-admin{
  background-color: var(--color-admin-primary-btn);
  color: var(--color-admin-primary-btn-text);
  border: none;
  &:hover{
    background-color: var(--color-admin-primary-btn-hover);
    .text-component {
      color: var(--color-admin-primary-btn-text-hover) !important;
    }
  }
}
.btn-secondary-admin{
  background-color: var(--color-admin-secondary-btn);
  color: var(--color-admin-secondary-btn-text);
  border: 1px solid var(--color-admin-secondary-btn-border);
  &:hover{
    background-color: var(--color-admin-secondary-btn-hover);
    border-color: var(--color-admin-secondary-btn-border-hover);
    .text-component {
      color: var(--color-admin-secondary-btn-text-hover) !important;
    }
  }
}
.btn-flat-admin{
  background-color: transparent;
  color: var(--color-admin-flat-btn-text);
  border: none;
  &:hover{
    background-color: var(--color-admin-flat-btn-hover);
    .text-component {
      color: var(--color-admin-flat-btn-text-hover) !important;
    }
  }
}