
$input-citrica-ui: (
  sm: (
    padding: 10px 20px,
  ),
  md: (
    padding: 10px 20px,
  ),
  lg: (
    padding: 20px 50px,
  )
);

.input-citrica-ui{
  min-width: 140px;
  max-width: 380px;
  @include a-set($input-citrica-ui);
  
  [data-slot="input-wrapper"] {
    border-radius: var(--form-radius-input);
  }
}

// SELECTED INPUT BORDER COLOR WHEN FOCUSED
.group[data-focus="true"] .group-data-\[focus\=true\]\:border-default-foreground {
  border-color: var(--color-primary-input-border-hover) !important;
}

.input-primary{
  [data-slot="input-wrapper"] {
    background-color: var(--color-primary-input-bg);
    border: var(--form-border-size-input) solid var(--color-primary-input-border);
    
    &:hover {
      border-color: var(--color-primary-input-border-hover);
    }
    
    &[data-focus="true"] {
      border-color: var(--color-primary-input-border-hover);
    }
  }
  
  [data-slot="label"] {
    color: var(--color-primary-input-label);
  }
  
  [data-slot="input"] {
    color: var(--color-primary-input-text-hover);
    
    &::placeholder {
      color: var(--color-primary-input-placeholder);
    }
  }
}

.input-secondary{
  [data-slot="input-wrapper"] {
    background-color: var(--color-secondary-input-bg);
    border: 1px solid var(--color-secondary-input-border);
    
    &:hover {
      border-color: var(--color-secondary-input-border-hover);
    }
    
    &[data-focus="true"] {
      border-color: var(--color-secondary-input-border-hover);
    }
  }
  
  [data-slot="label"] {
    color: var(--color-secondary-input-label);
  }
  
  [data-slot="input"] {
    color: var(--color-secondary-input-text-hover);
    
    &::placeholder {
      color: var(--color-secondary-input-placeholder);
    }
  }
}