@import './webpages-styles/sections.scss';
@import './webpages-styles/home.scss';

// SOLO ESTILOS GLOBALES DE LA WEB

.bg-black-gradient {
  background-color: var(--color-surface-container);
}

.max-character-width {
  max-width: 80ch;
  text-wrap: balance;
  margin: 0 auto;
}